<%= render 'shared/form.html.erb' %>

<div class="words">
  <div id="loadArea"></div>

  <% if @words.present? %>
  <ul>
  <% @words.each do |word| %>
    <li class="word">
      <div class="english">
        <%= word.english %>
      </div>
      <div class="japanese" style="display:none;">
        <%= word.japanese %>
      </div>
    </li>
  <% end %>
  </ul>
  <% else %>
    <h1>上のコントロールパネルから英単語を登録しよう！</h1>
  <% end %>

  <% if params[:sort_type].present? %>
    <%= pageless(@words.total_pages, root_path + "?sort_type="  + params[:sort_type]) %>
  <% else %>
    <%= pageless(@words.total_pages, root_path) %>
  <% end %>
</div>
