<!DOCTYPE html>
<html>
<head>
  <link rel="eitangotyo icon" href="/images/eitangotyo.png">
  <title>英単語超</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name = "format-detection" content = "telephone=no">
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</head>
<body>

  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete,
      :class => 'navbar-link' %>
  <% else %>
    <% link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    <% link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
  </p>
  <% if notice %>
    <div class="alert alert-notice" style="display:none;"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-error" style="display:none;"><%= alert %></div>
  <% end %>

<%= yield %>

</body>
</html>
